body {
    background-color:lightgray;
    left:250px;
    right:250px;
}

.navbar {
    background-color:white;
    height: 75px;
}

.name {
    background-color: lightblue;
    width: 150px;
    height: 75px;
    text-align: center;
    left: 250px;
    position: relative;
}
.links {
    color: blue;
    text-align: right;
    position: relative;
    top:-60px;
    right:250px;
}
.profile {
    background-color: white;
    block-size: 960px, auto, 960, auto;
    position: relative;
    margin-right:500px;
    left:250px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 30px;
}
#picture {
    margin-left: 0px;
    float: left;
}
.bottom {
    align-content: center;
}